
.current-page {
    display: block;
    transform: translate(100%,0);
}

.inactive-page {
    display: none;
}

/* Styling Header Section */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    gap: 2rem 0;
}

.header h1 {
    max-width: 20ch;
}

/* Designing Info Section */

.info {
    min-height: 40vh;
    background-color: var(--black-900);
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
}

.info-card {
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem 0;
    width: 100%;
    flex-wrap: wrap;
    font-weight: 500;
}

.info-card h3 {
    margin-bottom: 0;
}

/* Designing Developers Section With Comments */

.developers {
    min-height: 90vh;
    padding: 6rem 0;
    gap: 2rem 0;
}

.comments-container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(90px,1fr));
    gap: 2rem 2rem;
}

.comment {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.comment img {
    object-fit: contain;
    min-width: 300px;
    border-radius: .6rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    max-width: 90vw;
}

/* Designing News Letter Section */

.newsletter {
    min-height: 70vh;
}

.letter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem 5rem;
}

.email-box {
    display: inline-flex;
    gap: 1rem 0;
    flex-direction: column;
}

.textbox {
    border-radius: var(--border-radius);
    background-color: var(--black-700);
    font-weight: 600;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem .5rem;
}


/*  About Section */

.about {
    min-height: 70vh;
    padding: 6rem 0;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem 5rem;
}

/* Contact Section */

.contact {
    flex-direction: column;
    gap: 3rem 2rem;
    min-height: 30vh;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 2rem;
}

.social-contact-icon {
    cursor: pointer;
    transition: all ease-in .1s;
}

.social-contact-icon:hover {
    transform: scale(1.2,1.2);
}

.fab-nav {
    position: relative;
}

.floating-nav-container {
    display: flex;
    gap: .5rem .5rem;
    position: fixed;
    bottom: var(--fab-margin);
    right: var(--fab-margin);
}

.fab {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 1px 3px 5px var(--shadow-color);
    transition: all ease .1s;
    overflow: hidden;
}

.fab > img {
    margin: 0;
}

.fab:hover, .fab:focus {
    transform: scale(1.2,1.2);
}

@media screen and (max-width:1150px) {
    :root {
        --h1-font-size : 3rem;
        --h2-font-size: 2.5rem;
        --h3-font-size: 1.8rem;
        --max-width : 100%;
        --tagline-font-size : 1.3rem;
    }

    .wrapper {
        padding: 0 2rem;
    }

}

@media screen and (max-width:800px) {
    :root {
        --h1-font-size : 2.5rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.5rem;
        --paragragh-font-size : 1rem;
        --tagline-font-size : 1.2rem;
        --icon-height: 28px;
        --large-icon-height: 45px;
    }

    .mail-box-image {
        display: none;
    }

    .about-container {
        flex-direction: column;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

}

@media screen and (max-width:600px) {
    :root {
        --h1-font-size : 2.2rem;
        --h2-font-size: 1.8rem;
        --h3-font-size: 1.3rem;
        --paragragh-font-size : 1rem;
        --tagline-font-size : 1.1rem;
        --fab-margin: 30px;
        --fab-space-base: 3;
        --fab-space-factor: 2;
        --icon-height: 25px;
        --large-icon-height: 35px;
        --h4-font-size: 1.2rem;
    }

    .header {
        flex-direction: column-reverse;
    }

    .floating-nav-container {
        flex-direction: column;
    }

}
