/* Styling Navigation Bar */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navbar.scroll {
    background-color: var(--black-700);
    box-shadow: 0px 3px 5px var(--shadow-color);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    min-height: 10vh;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.logo {
    height: 6vh;
    margin-right: 1rem;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container h3 {
    margin: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-link {
    padding: 1rem 1.5rem;
    margin: 0 .4rem;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
}

.underline {
    width: 100%;
    height: .2rem;
    background-color: var(--primary-blue);
    border-radius: 1rem;
    margin-top: .2rem;
    transition: all ease-in .1s;
}

.hamburger {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--black-900);
    cursor: pointer;
    transition: all ease-in .1s;
}

.hamburger img {
    margin: 0;
}

.hamburger:hover, .hamburger:focus {
    box-shadow: 1px 3px 5px var(--shadow-color);
}

.nav-links.active {
    animation: expand .5s ease;
    display: flex;
}

@keyframes expand {
    from {
        opacity: 0;
        transform: translate(0, -50%);
    }
    to {
        opacity: 1;
        transform: translate(0, auto);
    }
}

@media screen and (max-width:800px) {

    .nav-links {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    .hamburger {
        display: inline-flex;
    }

}