
.videos {
    display: none;
    transition: all ease-in .3s;
}

.videos.current-page {
    display: block;
    transform: translate(0,0);
}

.inactive-page {
    display: none;
}

.video-header {
    min-height: 25vh;
    padding: 3rem 0;
}

/* Video Container */

.video-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(345px,1fr));
    gap: 2rem 2rem;
}

/* Video Card */

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 5px var(--shadow-color);
    background-color: var(--black-900);
    cursor: pointer;
    transition: all ease-in .2s;
}

.video:hover, .video:focus {
    transform: rotate(-1deg) scale(1.05,1.05);
    box-shadow: 3px 5px 10px var(--shadow-color);
}

.video-thumbnail, .placeholder {
    width: 100%;
    height: 0;
    opacity: 0;
    object-fit: cover;
    transition: all ease-in 1s;
}

.placeholder {
    opacity: 1;
    height: auto;
}

.video-thumbnail.loaded {
    height: auto;
    opacity: 1;
}

.video-title-container {
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    background-color: var(--black-700);
}

.video-title-container h4 {
    min-height: calc((var(--h4-font-size) * 1.3) * 3);
    max-height: calc((var(--h4-font-size) * 1.3) * 3);
    max-width: 30ch;
    overflow: hidden;
}

.date {
    display: block;
    font-size: var(--subtitle-font-size);
    font-weight: 60;
    text-align: end;
}

.featured-video .date {
    text-align: start;
}

/* Make Player Responsive */

.featured-video {
    align-items: flex-start;
    padding: 3rem 0;
    flex-direction: row;
    gap: 1rem 2rem;
    min-height: 50vh;
}

.embed-container { 
    width: 100%;
    height: calc(50vh);
    overflow: hidden;
    border-radius: var(--border-radius);
}

iframe {
    height: 100%;
    width: 100%;
}

@media screen and (max-width:1150px) {
    .featured-video {
        flex-direction: column;
    }
}

@media screen and (max-width:800px) {
    .embed-container {
        height: calc(40vh);
    }
}

@media screen and (max-width:600px) {
    .embed-container {
        height: calc(30vh);
    }
}

@media screen and (max-width:450px) {
    .embed-container {
        height: calc(25vh);
    }
}