$primaryBlue : #29b6f6;
$secondaryBlue : #03a9f4;
$black900 : #1a1a1a;
$black700 : #141414;
$navbarColor : var(--black-900);
$lightColor : #fff;
$borderRadius : 5px;
$darkBlue : #2196f3;
$shadowColor : rgba(0,0,0,.8);
$inputHintColor: rgba(255,255,255,.6);